/*CONTENT 

1. Import fonts
2. Basic style
3. Slider (default Bootstrap Carousel is used)
4. Navbar
5. Media Queries

END CONTENT */

/*IMPORT*/
@font-face {
	font-family: "LytigaPro-Medium";
	src: url('../fonts/LytigaPro-Medium.otf'); 
   }

@font-face {
	font-family: "LytigaPro-CondensedMedium"; 
	src: url('../fonts/LytigaPro-CondensedMedium.otf'); 
   }

@font-face {
	font-family: "LytigaPro-Regular"; 
	src: url('../fonts/LytigaPro-Regular.otf'); 
   }

@font-face {
	font-family: "LytigaPro-Thin"; 
	src: url('../fonts/LytigaPro-Thin.otf'); 
   }
/* END IMPORT */

/* BASIC STYLE */
html,
body {
	height: 100%;
	width: 100%;
	font-size:16px;
	font-family: "LytigaPro-Regular";
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'LytigaPro-CondensedMedium', sans-serif;
}

.link-text{
	color:#00708a;
	font-family:LytigaPro-Regular;
	text-decoration: none;
}

.text-content{
	font-size:16px;
	line-height: 32px;
}

/* END BASIC STYLE */

/* SLIDER */
.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-caption {
  position: absolute;
  right: 50%;
  bottom: 20%;
  left: 0;
  z-index: 10;
  background-color:rgba(0, 0, 0, .7);
  padding-top: 10px;
  padding-left: 40px;
  padding-right:5px;
  padding-bottom: 10px;
  text-align: left;
}

.carousel-caption span.title{
 color:#fff;
 padding:0px 0px;
 font-size:50px;
 font-family: 'LytigaPro-CondensedMedium', sans-serif;
}
.carousel-caption span.caption{
 color:#fff;
 padding:0px 2px;
 font-size:22px;
 font-family: 'LytigaPro-Regular', sans-serif;
}

.carousel-caption .btn {
  text-shadow: none;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* END SLIDER */


/* NAVBAR */
.navbar-light{
	background-color:rgba(0, 0, 0, .8);
}

/* reseting default bootstrap styles */
/* навигацыя меню */
.nav > .navigate-top > .link-navigate:hover,
.nav > .navigate-top > .link-navigate:focus {
  text-decoration: none;
  background-color: transparent;
 }

.nav .open > .link-navigate,
.nav .open > .link-navigate:hover,
.nav .open > .link-navigate:focus {
  background-color: transparent;
  border-color: transparent;
}
/* END reseting default bootstrap styles */
.navbar-brand {
	float: left;
	height: 55px;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 20px;
}

.nav-logo{
	margin-top: 7px;
	width: 143px;
	height: 31px;
}

.navbar-nav-item{
	font-size:18px;
	color:#fff;
	font-family: "LytigaPro-Thin";
}

.navbar-nav-item:hover{
	color:#00bce7;
	font-weight: bold;
	background-color:transparent;
	border-bottom:4px solid #00bce7;
}
.navbar-nav-item:active{
	color:#00bce7;
	font-weight: bold;
	background-color:transparent;
	border-bottom:4px solid #00bce7;
}

.navbar-nav-item:focus{
	color:#00bce7;
	font-weight: bold;
	background-color:transparent;
	border-bottom:4px solid #00bce7;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 220px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 18px;
  color:#fff;
  text-align: left;
  list-style: none;
  background-color:rgba(0, 0, 0, .8);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* подменю */
.dropdown-menu > .dropdown-navigate > .dropdown-link-menu {
  display: block;
  padding: 5px 20px 5px 10px;
  clear: both;
  font-family: "LytigaPro-Thin";
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.dropdown-menu > .dropdown-navigate > .dropdown-link-menu:hover,
.dropdown-menu > .dropdown-navigate > .dropdown-link-menu:focus {
	color: #00bce7;
	text-decoration: none;
	border-left:4px solid #00bce7;
	border-bottom:none;
	background-color:transparent;
}

.dropdown-menu > .active > .dropdown-link-menu,
.dropdown-menu > .active > .dropdown-link-menu:hover,
.dropdown-menu > .active > .dropdown-link-menu:focus {
	color: #00bce7;
	text-decoration: none;
	background-color:transparent;
	outline: 0;
}
/* /подменю */

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border: 2px solid #fff;
  webkit-border-radius: 3px;
         border-radius: 3px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
	

/* NAVBAR END */

/* PAGE CONTENT */

.icon{
	height:210px;
	width:210px;
}

.btn-default {
  color:#00a9cf;
  font-size: 16px;
  background-color: transparent;
  border: 4px solid #00bce7;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.btn-default:hover{
  color:#fff;
  background-color: #00bce7;
  border: 4px solid #00bce7;
}

.fa-icon{
	padding-right: 15px;
}

.panel-toggle{
	font-size: 36px;
}

a.panel-toggle{
	text-decoration: none;
}

.approx-distance{
	font-size: 18px;
}

.tel-link{
	color:#00708a;
	font-family:LytigaPro-Regular;
	text-decoration: none;
}

.panel-heading:hover{
	background: #4cd0ee;
}
.panel:hover{
	border: 1px solid #4cd0ee;
}

.user-coordinates{
	padding-bottom: 60px;
}

.user-coordinates>.btn-default{
	font-size: 60px;
	font-weight: bold;
	border: 8px solid #00bce7;
	-webkit-border-radius: 0px;
			border-radius: 0px;
}

.contact-list{
	font-size: 18px;
	list-style: none;
	padding: 0px;
	line-height: 22px;
}

.contact-list-item{
	padding-bottom: 5px;
	line-height: 22px;
}

/* footer bootom */
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:75px;
}
.footer {
  position: relative;
  margin-top: -75px;
  height: 75px;
  clear:both;
  padding-top:20px;
  margin-bottom: 0;
} 
/* footer bootom */

.first-section{
	margin-top: 60px;
}

.table-title{
	font-size: 18px;
	font-weight: bold;	
}

.table-body{
	font-size: 14px;
}
/* content, visible for sm and xs screen */

.btn-xs-visible {
  color:#00a9cf;
  font-size: 22px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 20px;
  margin: 15px 0px;
  background-color: transparent;
  border: 6px solid #00bce7;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.btn-xs-visible:hover{
	color:#fff;
	background-color: #00bce7;
}

.icon-xs-visible{
	height:110px;
	width:110px;
}

.services-list{
	font-size: 18px;
  	line-height: 32px;
}

.services-list-item-title{
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
}

.services-list-item-text{
	padding-left: 20px;
	padding-bottom: 15px;
}

/* end content, visible for sm and xs screen */

/*news button > title */
.img_news > h4 {
    height: 80px;
}

/*modal window*/
.btn-modal {
    color: #00a9cf;    
    text-transform: uppercase;    
    background-color: transparent;
    border: 6px solid #00bce7;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.btn-modal:hover {
    color: #fff;
    background-color: #00bce7;
}

/*end modal window*/

/* PAGE CONTENT END */

/* MEDIA */

@media (min-width: 768px) { /* these styles will appear if screen more than 768px */
	.navbar-toggle {
		display: none;
	}
	.navbar-light{
		padding:0 25px;
	}
	.section-content{
		padding: 60px 20px 20px 0;
		
	}

	.title-start{
		font-size: 48px;
		padding:0 20px;
	}
	.text-content{
		padding:0 20px;
	}

}


@media (min-width: 992px) { /* these styles will appear if screen more than 992px */
	.section-content{
		padding: 140px 60px 60px 0;
	}
	.title-start{
		font-size: 48px;
	}
	.img_news {
		padding-bottom: 20px;
	}
	/*modal window section*/
	.section-content.section-modal {
		padding: 0;
	}	

}

@media (max-width: 768px) { /* these styles will appear if screen less than 768px */
	.navbar-nav .navigate-top .link-navigate:hover{
		border-left:4px solid #00bce7;
		border-bottom:none;
	}
	.navbar-nav .navigate-top .link-navigate:focus{
		border-left:4px solid #00bce7;
		border-bottom:none;
	}
	.carousel-caption {
	  right: 20%;
	  bottom:10%;
	}
	.carousel-caption span.title{
	 color:#fff;
	 padding:0px 0px;
	 font-size:35px;
	 font-family: 'LytigaPro-CondensedMedium', sans-serif;
	}
	.carousel-caption span.caption{
	 color:#fff;
	 padding:0px 2px;
	 font-size:18px;
	 font-family: 'LytigaPro-Regular', sans-serif;
	}
	.section-content{
		padding-top: 40px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.text-content{
		font-size:18px;
		line-height: 30px;
	}
	.title-start{
		font-size: 42px;
	}

}
/* MEDIA END 

/* icon */

[class*=mobo-] {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:3px;
	width:16px;
	height:16px;
}
/*stacionar*/
.mobo-home-16 {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABRUlEQVQ4T6XTL0ieYRQF8N+ngsKQhc0i+AfTgkEMsiYIWoQVQTStqKBhjHVhLphWnAiiJpvBoiKILmzRtonLIoaBswgDwzblyv3g9UUZ8r3tvs+5557nnPtU1PhVaux3H0EvXqIbnajHKb7hC46KQ4sEzzGPYbQ+oCyItvAeF4EpEqxiIhs/4QCXqaAF/ZjO8zVMlgkC3JyA11gvqQhlO/kvsE/LBMdoT4lf0ZQ+XOMHzjCOV/iJtjJBFxoxiLdoSNP+YQB/EFf7nCq+lwmijsaPOTEmnSQ40tjGC7zDYvV6RRN7sI9IY7lgWBW7hBmcp8qI9U4Kb7CQ6IhrCntZD2EFHVkH9lZFUcEHzBacv8Jh1n1pavV4LnfhDkHEtIEn/1nv3xjFbllBrOwYRvAMdel84CKRSOMXNnPQ3/tSePTbqvk13gAnUDoR6obgvAAAAABJRU5ErkJggg==);
}
.mobo-mts-16 {	
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABQElEQVQ4T5WTPaoCMRSFv0EsLLQdGXQDgo3TuAIRBBFB0dLWn1LQFShY+tNaKoKIhSBuwMrKwg2IYquFhUgecd5DhswE3i1PTr6c3OQaIpUSXK8QCPCver/BsjCEaQpuN3VvKAS5nKNvNvB8qp5oFEPEYoLz2b1oWTCdQibj6Lsd1Gpwubh98bgHIByGxQKyWbd5u4VyGR6Pr+4JaDZhOPRuR6sFo5EGEInAfg+JhDfgdIJ0Gu53Z11JkM/Deq1/jELh61EAvR50OnpAvw/drk+C2QwqFT1gPodq1QewXEKxqAesVl+PcoXxGOp1PWAygUbDJ4FskDxBVzLhn0dJEAw6n0iCvEq+UKkEr5dPAimbJgwGTjMlUJbcIJvXbuOam08Cv2GybUgmHcDxCIeDmukzTLatjrMQ3lcwjK/+O84/7haN12qsvLYAAAAASUVORK5CYII=);
}
/*Київстар*/
.mobo-kyivstar-16{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABiElEQVQ4T93Tu2vUURDF8c/EGB9RFCGVhbGzUBujgmARFBULjU0KUXYTwcYmrTYGwUqIWoqP3U0ZkIAvSCVaRhBFAiIBg2In+CiUhOjI/lwfm3X/AW955/C9M+fMDe3OeHZLM9Ir5TjQThZtAZXsFV7jk3Ks/68BlbyIjbit25TBWCjmvZlrLTOHWeXY/duDa7lOlyPCUdwP1ZxHV0PwQZj0zajheGsi12ChgI5nn3RWOoyVDf10qOQh4QwOYnlRSFcNxUiT89V8jL2Nu8+4I1z6E+ON3KDTMfT7bsxwPG0CVHKg0fY9qz0wGF/r9fZ70HZBmgv/BtRyvw5zTsZsIa/lLovmnYrnS7mtgJ+tTuKFcmw3kat88RGL0g5D8fJvSDPgVvboMIMe4bpSnJYZaqbRhyc22aM/Fn9BmgHVrL88gDc6bXMi6m5TyS3CM6zAeeW40AqoZv3HTRUhhn1K8XBJCiPC5WKU0KsU75pTqORO4RGuKMe5lhBGs8Nmdwsfumx1PN7XNT8A9O2ARzxjn8gAAAAASUVORK5CYII=);
}
/*Lifecell*/
.mobo-lifecell-16{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACH0lEQVQ4T22TT0hUURTGf+dN4xQmQa0Mok0I0X+KGqMXughxoFULi6IJapHuyojc2LQoN9XWAiEQiqFVFNQQWtH8qTQiBdsIEUFBC1MQIsf37pV33sz0ZvJu3jvnvu+733e+d4WGZfO0IaTxSeHQClgM34jzGoesJJmOQiRa2DFu0MQg1a4BHNA6eA+ePnelg/4qrkZgJ8mySA8xBZ0mzmeEC5S5hK2AA5QHrCEnLt1BqQR2nAwO14nrScNylL7qCbbAJwz7aqqCjTKwgWE5QJ/Yj7Tyh58KiHNP2umts1XiCx7b6wiqSiw7xZYYYYnzJEjLYUa19pgHcsToxXKiZsHwEmECh5P4bMMwIraIz3oGZQ837ThPSXBcAeqtNjhYy6wkadN2iXUsM0eMstg8GXHJ2LecQ3jQGKuSxHiO4Yy4qizkLvAdw5Z/KZSYw2NjzWsYXSD5qrhM2QLdxPgt7XywBVJYngWZhCnMkuQH7zTCIG9fpV+UTu7rfpEcPl0V8hlghypz+BoSFBjAcEubzUATx2Q3Y3aKZuaZwWHrfymEP8GjkOAVOeJ0ab6b6JG9PNb+e6b5yy5V1vj/LgNLHAoJitzB4zKGF9JJSnsTXGORIRKVNKIEgcUWsrKfU9EhPsFnSFwdUguGBXVZd1sqLD6T0sHB0MUqyxbpx+O2XqToCgc3KkdIV9urE+Q5i3AFw2b90OEXUMLyUFzeRDlXAKiGuHY6KUHJAAAAAElFTkSuQmCC);
}
/* end icon 

/*table*/
.complain-link {
	color: #a94442;
	font-size: 14px;
    opacity: 0.4;
}
.complain-link:hover {
	opacity: 1;
	color: #a94442;
	text-decoration: none;
}
.complain-link:focus {
	text-decoration: none;
	color: #a94442;
	opacity: 1;
    outline: none;
}
dt > .complain-link {
	float: right;
}
span.glyphicon.glyphicon-warning-sign {
    padding: 0 5px;
}


/*btn for lg*/
a.btn-lg-visible {
	color: #00a9cf;
    font-size: 16px;
    background-color: transparent;
    border: 4px solid #00bce7;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: initial;
}
a.btn-lg-visible:hover {
    color: #fff;
    background-color: #00bce7;
    border: 4px solid #00bce7;
}
a.btn-lg-visible:focus {
    color: #fff;
    background-color: #00bce7;
    border: 4px solid #00bce7;
}